<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Projeto BB-8</title>

    <meta http-equiv="refresh" content="5; URL='http://my.tecnologia.ws/BB-8/'"/>
</head>
<body>
...
</body>
</html>